# Secrets and Tokens
.env
.cache*

# Database
*.db

# Python Internals
__pycache__/
*.pyc

# Environments and IDEs
.venv/
venv/
.idea/
.vscode/

# Project Specific
tests/
example_files/

v1/collector_log.txt
v2/collector_log.txt
v1/reporter_log.txt
